
h1 {
  font-size: 50px;
  text-align: center;
}

.tagline {
  border-bottom: 2px solid black;
  width: 250px
}

.sectionHeaders {
  font-size: 25px;
}

p {
  font-size: 20px;
}

section {
  width: 100%;
  border-bottom: 0px solid black;
}

.section {
  width: 100%;
  border-bottom: 3px solid black;
}

.HomePageContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.main-heading {
  margin-bottom: 45px;
}

img {
  display: none;
}

main {
  padding-bottom: 50px;
}




@media screen and (min-width: 500px) {
  .remyndersList {
    height: 400px;
    display: flex;
    align-items: center;
    margin: auto;
    box-shadow: 0px 0px 20px 11px #545454;
  }
  .remynderFrequency {
    height: 400px;
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 8px;
    box-shadow: 0px 0px 20px 11px #545454;
  }
  .emailRemynders {
    height: 250px;
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 8px;
    box-shadow: 0px 0px 20px 11px #545454;
  }

  .tagline {
    border-bottom: 2px solid black;
    width: 500px
  }
  .sectionHeaders {
    padding-bottom: 25px;
    padding-top: 20px;
    font-size: 40px;
    max-width: 1200px;
    margin: auto;
  }
  p {
    padding-top: 25px;
    font-size: 25px;
    max-width: 800px;
    margin: auto;
    padding-bottom: 10px;
  }

}