
@media screen and (max-width: 500px) {
ul {
  padding: 0;
}
}

.Note_edit, .Note__delete {
  height: 50px;
  width: 120px;
  border-radius: 20px;
  font-size: 16px;
  background-color: black;
  color: white;
  margin: 8px;
}

.button-icon {
  margin-left: 10px;
}

.reminder-action-button {
  cursor: pointer;
}

.Note {
  text-align: center;
}

.Note__title a {
  color: black;
}

.Note_edit:hover, .Note__delete:hover {
  color: black;
  background-color: white;
}


