textarea {
  width: 95%;
  background-color: #f5f57e;
}

button {
  height: 2px;
  cursor: pointer;
}

.cancel, .save {
  height: 40px;
  width: 100px;
  border-radius: 5px;
}

.button-icon {
  margin-left: 10px;
  zoom: 1.5;
}
.user-name-field {
  height: 30px;
  width: 20px
}

.AddNote {
  padding-left: 5px;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frequency-container {
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (min-width: 500px) {
  .AddNote {
    font-size: 25px;
  }
  input[type="text"] {
    font-size: 15px;
  }
  textarea[type="text"] {
    font-size: 20px;
  }
}