.NoteContentPage {
  margin-top: 40px;
}

.Note_title {
  font-size: 30px;
  text-decoration: underline;
}

.NoteContent {
  margin-top: 50px;
  font-size: x-large;
}

.Note__dates-created {
  border-top: groove;
  margin-top: 75px;
}

.back-button {
    height: 40px;
    width: 120px;
    border-radius: 20px;
    font-size: 16px;
    background-color: black;
    color: white;
  }
  
.back-button-icon {
  margin-right: 10px;
}

.back-button:hover {
  color: black;
  background-color: white;
}