.NoteContentPage {
  margin-top: 40px;
}

.Note_title {
  border-top: solid;
  border-bottom: solid;
  font-size: 30px;
}

.NoteContent {
  margin-top: 50px;
}

.Note__dates-created {
  border-top: groove;
  margin-top: 75px;
}

button {
  margin: 5px;
}