.ReturningUser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 161px);
}

.LoginForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  width: 20%;
  padding-bottom: 60px;
}

.LoginForm input, .user_name, .password {
  width: 100%;
  border-radius: 10px;
}

.user_name, .password {
  margin-bottom: 20px;
}

.user-name-field {
  height: 30px;
}

.returning-user-login-button {
  height: 50px;
  width: 100px;
  border-radius: 20px;
  font-size: 16px;
  background-color: black;
  color: white;
  margin: 8px;
}

.returning-user-login-button:hover {
  color: black;
  background-color: white;
}
