.Nav a,
.Nav a:active,
.Nav a:focus,
.Nav a:visited {
  color: white;
}

.Nav a:hover {
  color: #efff00;
  text-decoration: solid;
}

.Nav a:not(:last-of-type) {
  margin-right: 40px;
}

.Nav {
  background: black;
  height: 70px;
  padding-right: 70px;
  font-size: 25px;
}

.Nav, .Header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .Nav {
    background: black;
    height: 70px;
    font-size: 20px;
  }
  
  .Nav, .Header {
    padding-left: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
